<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Twitter自動化アプリ</title>
  <link rel="stylesheet" type="text/css" href="login.css" media="all" />
</head>

<body>
  <h1>Twitter自動フォロー</h1>
  <div id="form">
    <form action="{% url 'auto_twt_follow' %}" method="post" name="Login">
      {% csrf_token %}
      <table>
        {{form.as_table}}
      </table>
      <button type="submit">実行</button>
      <p>※連打すると設定値以上にフォローしてしまいますので、ご注意を。</p>
    </form>

  </div>

</body>

</html>